<div class="row">
	<header class="text-center mtb-4">
		<h1>Aknamed Blog<h1>
	</header>
</div>
<div class="row">
	<% @posts.each do |post| %>
		<div class="col-md-3">
			<div id="small_description_text">
				<h1 id="small_title_text"><%= link_to post.title, post_path(post) %></h1>
				<hr>
				<p>
					<%= post.user.name.capitalize %>&emsp;<%= post.created_at.strftime("%Y-%m-%d") %>
				</p>
				<hr>
			</div>
		</div>
	<% end %>
</div>