<%= form_with(model: post, local: true, html: { id: "post_form_validation"}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :post_image %>
    <%= form.file_field :post_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control required" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.trix_editor :description, class: "form-control required" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create post", class: "btn btn-primary" %>
  </div>
<% end %>
