<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<h1 class="post_title"><strong><%= @post.title %></strong></h1>
		</div>
		
		<div class="row post_user_info">
			<hr>
			<p><%= @post.user.name %></p>
			<p><%= @post.created_at.strftime("%Y-%m-%d") %></p>
			<hr>
		</div>

		<div class="row">
			<% if @post.post_image.present? %>
				<%= image_tag @post.post_image.url, class: "img-responsive" %>
			<% else %>
				<img src="https://images.pexels.com/photos/807623/pexels-photo-807623.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" align="post image not found" class="img-responsive">
				
			<% end %>
		</div>

		<div class="row post_description">
			<p>
				<%= raw @post.description %>
			</p>
		</div>
		<% if user_signed_in? and @post.user.present? %>
			<div class="row">
				<hr>
					<%= link_to "Edit", edit_post_path(@post),  class: "btn btn-warning" %>&emsp; <%= link_to "Destroy", post_path(@post), method: :delete, class: "btn btn-danger" %>
				<hr>
			</div>
		<% end %>
		<div class="row">
			<% if @post.comments.present? %>
				<% @comments.each do |comment| %>
					<p><strong><%= comment.user.name %></strong></p>
					<p><%= comment.body %></p>
					<br>
				<% end %>
			<% else %>
				<p class="text-center">
					Comments not found.
				</p>
			<% end %>
			<hr>
		</div>

		<div class="row">
			<%= form_for :comment, url: post_comments_path(@post), method: :post do |f| %>
				<div class="form-group">
					<%= f.text_area :body, class: "form-control", placeholder: "Comment body" %>
					<%#= f.hidden_fiel :post_id, value: @post.id %>
				</div>
				<div class="form-group">
					<%= f.submit "Create comment", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>