

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <a class="navbar-brand" href="/"><strong>Aknamed</strong></a>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
       
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right" id="nav_links">
        <li><a href="#"><i class="fa fa-lg fa-dot-circle-o"></i></a></li>
        <% if !user_signed_in? %>
            <li><a href="/about">About</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>
        <% else %>
            <li><a href="/posts/new">Create post</a></li>
            <li><a href="/">Posts</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>